In [1]:
import pandas as pd
import numpy as np

In [4]:
ls

README.md  data/  notebooks/  requirements.txt

In [7]:
df_inflation = pd.read_csv("raw/inflation_rate_2009_2021.csv")

In [8]:
df_inflation

     inflation_date  inflation_rate
0      October 2021            0.80
1    September 2021            0.60
2       August 2021            0.30
3         July 2021            0.40
4         June 2021            6.20
..              ...             ...
149        May 2009            5.33
150      April 2009            4.27
151      March 2009            2.07
152   February 2009            4.64
153    January 2009            4.42

[154 rows x 2 columns]

In [49]:
df_money_supply = pd.read_csv("raw/money_supply.csv")

In [51]:
df_money_supply

         money_date  money_rate
0      October 2021         7.9
1    September 2021         8.4
2       August 2021         7.9
3         July 2021         9.8
4         June 2021         9.1
..              ...         ...
149        May 2009        16.9
150      April 2009        18.3
151      March 2009        15.8
152   February 2009        15.6
153    January 2009        13.9

[154 rows x 2 columns]

In [52]:
df_repo = pd.read_csv("interim/repo_rate_2009_2021.csv")

In [54]:
df_repo['repo_date'] = pd.to_datetime()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   repo_date  154 non-null    object
 1   repo_rate  154 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.5+ KB

In [55]:
import datetime as dt

In [59]:
pd.to_datetime(df_money_supply['money_date'])

0     2021-10-01
1     2021-09-01
2     2021-08-01
3     2021-07-01
4     2021-06-01
         ...
149   2009-05-01
150   2009-04-01
151   2009-03-01
152   2009-02-01
153   2009-01-01
Name: money_date, Length: 154, dtype: datetime64[ns]

In [60]:
df_bills = pd.read_csv("raw/t_bills.csv")

In [64]:
df_bills['Period'] = pd.to_datetime(df_bills['Period'])

In [91]:
len(df_bills.columns)+len(df_money_supply.columns)+len(df_inflation.columns)+len(df_repo.columns)-4

8

In [76]:
df_bills.query("'2020-9-01'<=Period<='2001-01-01'")

Empty DataFrame
Columns: [Period, 1st Week(%), 4th Week(%), 13th Week(%), 26th Week(%), 52nd Week(%)]
Index: []

In [80]:
df_bills[df_bills['Period'].isin(pd.date_range('2009-01-01', '2021-12-01'))]

,Period,1st Week(%),4th Week(%),13th Week(%),26th Week(%),52nd Week(%)
0,2021-12-01,0.51022,0.54010,0.57002,0.60001,0.62000
1,2021-11-01,0.51267,0.54258,0.57252,0.60251,0.62250
2,2021-10-01,0.51218,0.54208,0.57601,0.60201,0.61800
3,2021-09-01,0.51022,0.54203,0.57701,0.60200,0.61700
4,2021-08-01,0.51022,0.55001,0.58501,0.61000,0.62500
...,...,...,...,...,...,...
141,2010-03-01,0.13700,0.18420,0.36640,0.46980,0.60900
142,2010-02-01,0.13400,0.18080,0.41260,0.53580,0.76740
143,2010-01-01,0.13750,0.19050,0.43250,0.55275,0.73950
144,2009-10-01,0.12300,0.45600,0.78900,0.32100,0.65400
145,2009-08-01,4.82722,4.85531,4.90719,4.93875,4.99313